/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 */

 *{
  margin:0;
  padding: 0;
 }
 body{
  background-color: rgb(247,249,251);
 }

 .all{
  border: 1px solid black;
  padding: 1px;
  height: 35rem;
  width: 47rem;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(255, 255, 255, 1);
  /* border: none; */
 }

 .one{
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 30px; */
 }


 .sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin-left: 10px;
 }

 .sign h1{
  font: Sarabun;
  color: #282C36;
  font-size: 25.79px;
  line-height: 20.79px;
  align-items: center;
  font-weight: 700;
 }

 .sign p{
  font: Sarabun;
  font-size: 11px;
  line-height: 11px;
  font-weight: 600;
  color: #CFD7E2;
 }

 .sign2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
 
 .signage{
  width: 300px;
  display: flex;
  align-items: center;
  gap: 6.1px;
  border: 0.61px solid;
  border-radius: 3.06px;
  border-color: #CFD7E2;
  justify-content: center;
  padding: 8.56px 6.11px;
  margin-top: 10px;
  margin-bottom: 15px;
 }

 .signage p{
  font: sarabun;
  font-weight: 400;
  font-size: 15px;
  line-height: 11px;
  color:#282C36;
 }

 .line{
  /* color: #CFD7E2; */
  display: flex;
  gap: 4px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
 }

 .line p{
  margin-top: -5px;
 }

 .line1{
  height: 1px;
  width: 150px;
  background-color: #CFD7E2;
 }
 .line2{
  height: 1px;
  width: 150px;
  background-color: #CFD7E2;
 }
 
 .mail{
  margin-top: 1rem;
  margin-left: 10px;
 }

 .mail p{
  font: Sarabun;
  font-weight: 700;
  line-height: 11.62px;
 }

 .mail input{
  border: 1px solid;
  height: 27.5px;
  padding: 10px;
  border-color: #CFD7E2;
  outline: none;
  margin-top: 5px;
  width: 300px;
 }

 .pass{
  margin-top: 20px;
  margin-left: 10px;
 }

 .pass p{
  font: Sarabun;
  font-weight: 700;
  line-height: 11.62px;
 }

 .pass input{
  border: 1px solid;
  height: 27.5px;
  width: 300px;
  padding: 10px;
  border-color: #CFD7E2;
  outline: none;
  margin-top: 5px;
 }


 .check{
  margin-top: 30px;
  margin-left: 10px;
  width: 250.95px;
  height: 11px;
  font: Sarabun;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  color: #282C36;
  display: flex;
  gap: 10px;
 }

 .ton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EF5D44;
  width: 300px;
  margin-top: 10px;
  padding: 7.34px 6.11px;
  color: #F5F7FA;
  font: Sarabun;
  font-weight: 400;
  size: 11px;
  line-height: 11px;
  border-radius: 3px;
  margin-left: 10px;
 }

 

 .ready{
  font: Sarabun;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  color: #282C36;
  margin-top: 20px;
  margin-left: 10px;
 }

 .log{
  font: Sarabun;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  color: #EF5D44;
  
 }

 .container{
  /* border: 1px solid black; */
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items:center ;
 }

 .navbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }


 .pic{
  height: 90vh;
  width: 24rem;
 }

.pic :hover {
  transform: scaleX(1.5);
}


.first{
  /* border: 1px solid black; */
  height: 70px;
  width: 84rem;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding:  0px 10px;
  background-color: whitesmoke;
}

.cons{
  display: flex;
  gap: 10px;
  align-items: center;
}

.the{
  font: Inter;
   font-weight: 700;
   font-size: 58px;
   line-height: 66px;
   text-align: center;
   color: rgba(0, 0, 0, 1);
}

.focus{
  display: flex;
  background-color: #EF5D44;
  margin-right: 7rem;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;

}

.focus2{
  display: flex;
  background-color: #EF5D44;
  margin-right: 7rem;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;

}


.splash{
  margin-top: -35px;
  width:400px;
}

.timer{
  font: Sarabun;
  font-weight: 700;
  font-size: 58px;
  line-height: 66px;
}

.second{
  height: 70px;
  width: 84rem;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding:  0px 70px;
}

.third{
  height: 70px;
  width: 84rem;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding:  0px 70px;
}

.fourth{
  height: 70px;
  width: 84rem;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding:  0px 70px;
}

.fifth{
  height: 70px;
  width: 84rem;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding:  0px 70px;
}


.dotted{
  margin-left: -70px;
}

.dot{
  margin-left: 1px;
}

.dot2{
  margin-left: -30px;
}

.dot3{
  margin-left: -30px;
}

.grav{
  margin-top: 20rem;
 margin-bottom: 100px;
}


.turn{
  font: Inter;
  font-weight: 700;
  font-size: 58px;
  line-height: 66px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  
}

.hanced{
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 100px;
  padding: 0px 50px;
}

.hanced h1{
  font: Sarabun;
  font-weight: 700;
  font-size: 20px;
  line-height: 48px;

}



 
 